#build results
*[Dd]ebug*/
*[Rr]elease*/
*[Bb]uild*/
*[Oo]ut*/
.*/

# IDE and editor files
.vs/
.vscode/
*.sublime-workspace

#documentation files
*.docx
*.doc
*.pdf
*.xlsx
*.xls
*.pptx
*.ppt

# Windows/osx Fluff
desktop.ini
[tT]humbs.db
.DS_Store
.idea/workspace.xml
__pycache__/
*venv*/
